%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  %a.navbar-brand{:href => "#"} E.learning
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
  - if current_user
    %ul.navbar-nav.mr-auto
      %li.nav-item{class: "#{'active font-weight-bold' if current_page?(root_path)}"}
        = link_to root_path, class: 'nav-link' do
          .fa.fa-home
          Home
      %li.nav-item{class: "#{'active font-weight-bold' if current_page?(courses_path)}"}
        = link_to courses_path, class: 'nav-link' do
          .fa.fa-book
          Courses
    = link_to 'Account settings', edit_user_registration_path, class: 'btn btn-outline-primary mr-1'
    = link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'btn btn-outline-primary'
  - else
    = link_to 'Sign Up', new_user_registration_path, class: 'btn btn-outline-primary mr-1'
    = link_to 'Log In', new_user_session_path, class: 'btn btn-outline-primary'
